/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #map-canvas{
        height: 350px; 
        width: 350px;
        margin-left: 20px;
    }
    
    #img-logo{
        height: 40px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #map-canvas{
        height: 350px; 
        width: 350px;
        margin-left: 20px;
    }
    
    #img-logo{
        height: 40px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #map-canvas{
        height: 400px; 
        width: 450px;
        margin-left: 20px;
    }
    
    #img-logo{
        height: 40px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #map-canvas{
        height: 500px; 
        width: 500px;
    }

    #img-logo{
        width: 30px;
    }
}
